input {
  padding: 8px;
  border: 1px solid rgba(256, 256, 256, 35%);
  border-radius: 4px;
  background-color: rgba(256, 256, 256, 60%);
  cursor: default;
}

input[type="text"] {
  width: 100%;
}

input[disabled] {
  background-color: rgba(256, 256, 256, 30%);
  color: rgba(0, 0, 0, 35%);
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  position: absolute;
}