label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: var(--space-1) var(--space-2);
  border: 1px solid var(--color-glass-md);
  border-radius: var(--space-1);
  background-color: var(--color-glass-md);
  cursor: default;
}

input[type="text"] {
  width: 100%;
}

input[disabled] {
  background-color: var(--color-glass-sm);
  color: rgba(0, 0, 0, 35%);
}

input[type="checkbox"] {
  position: relative;
  padding: calc(var(--space-3) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  height: 1em;
  -webkit-mask-image: url('../asset/icon/check.svg');
  mask-image: url('../asset/icon/check.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 0.9em 0.9em;
  background-color: var(--color-primary);
  aspect-ratio: 1;
}

input::placeholder {
  color: rgba(0, 0, 0, 35%);
}

button {
  font-size: var(--font-sm);
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
  padding: var(--space-2) var(--space-3);
  border: none;
  border-radius: var(--space-2);
  font-weight: var(--weight-lg);
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--color-primary-hover);
}

button .icon {
  background-color: var(--color-primary-contrast);
}

