@import url('./reset.css');
@import url('./variable.css');
@import url('./font.css');
@import url('./form.css');
@import url('./icon.css');
@import url('./utility.css');

* {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

a {
  cursor: default;
}

body {
  height: 100dvh;
  font-size: 16px;
}

body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: -100vh;
  left: -100vw;
  width: 300vw;
  height: 300vh;
  background-image: url('../asset/vector/noise-effect.svg'),
    url('../asset/vector/ice-cream-cookie-pattern.svg');
  background-repeat: repeat, repeat;
  background-size: 64px, 32px;
  background-position: 0 0, -4px 32px;
  transform: rotate(-35deg);
}

.card {
  position: relative;
  min-width: 300px;
  max-width: 420px;
  border: 1px solid var(--color-glass-md);
  border-radius: 10px;
  background-color: var(--color-glass-md);
  backdrop-filter: blur(2px);
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../asset/vector/noise-effect.svg');
  background-repeat: repeat;
  background-size: 64px;
  opacity: 0.6;
  z-index: -1;
}

.card .header {
  background-color: var(--color-glass-md);
  border-radius: var(--space-2) var(--space-2) 0 0;
}

.card .footer {
  border-radius: 0 0 var(--space-2) var(--space-2);
}

.loading [class*='spinner'] {
  display: initial;
}

.separator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-2)
}
  
.separator::before {
  content: '';
  flex: 1;
  height: 1px;
  background-color: var(--color-glass-sm);
  flex-grow: 1;
}

.separator::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: var(--color-glass-sm);
}
