:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;

  --space-9: 2.5rem;
  --space-10: 3rem;
  --space-11: 3.5rem;
  --space-12: 4rem;
  --space-13: 4.5rem;
  --space-14: 5rem;
  --space-15: 5.5rem;
  --space-16: 6rem;

  --space-17: 7rem;
  --space-18: 8rem;
  --space-19: 9rem;
  --space-20: 10rem;
  --space-21: 11rem;
  --space-22: 12rem;
  --space-23: 13rem;
  --space-24: 14rem;

  --space-25: 16rem;
  --space-26: 18rem;
  --space-27: 20rem;
  --space-28: 22rem;
  --space-29: 24rem;
  --space-30: 26rem;

  --font-xs: 0.75em;
  --font-sm: 0.875em;
  --font-md: 1em;
  --font-lg: 1.125em;
  --font-xl: 1.25em;
  --font-2xl: 1.5em;
  --font-3xl: 1.75em;

  --weight-sm: 300;
  --weight-md: 400;
  --weight-lg: 500;
  --weight-xl: 600;
  --weight-2xl: 700;

  --color-glass-sm: rgba(255, 255, 255, 60%);
  --color-glass-md: rgba(255, 255, 255, 40%);
  --color-glass-lg: rgba(255, 255, 255, 20%);

  --color-success: #388e3c;
  --color-warning: #d32f2f;

  --color-primary: #4CAF50;
  --color-primary-contrast: #fff;
  --color-primary-hover: #45a049;
}