:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;

  --space-9: 2.5rem;
  --space-10: 3rem;
  --space-11: 3.5rem;
  --space-12: 4rem;
  --space-13: 4.5rem;
  --space-14: 5rem;
  --space-15: 5.5rem;
  --space-16: 6rem;

  --space-17: 7rem;
  --space-18: 8rem;
  --space-19: 9rem;
  --space-20: 10rem;
  --space-21: 11rem;
  --space-22: 12rem;
  --space-23: 13rem;
  --space-24: 14rem;

  --space-25: 16rem;
  --space-26: 18rem;
  --space-27: 20rem;
  --space-28: 22rem;
  --space-29: 24rem;
  --space-30: 26rem;
}